#div-tasavir{
    text-align: center;
}

#p1{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

#p2{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

#p3{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

#p4{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

#p5{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

#foto1{
    height :300px;
    width:350px;

}

#foto2{
    height :300px;
    width:350px;

}

#foto3{
    height :300px;
    width:350px;

}

#foto4{
    height :300px;
    width:350px;

}

#foto5{
    height :300px;
    width:350px;

}